
      <div class="header">
            <div class="browse" style="margin-left: 325px";>
            <ul class="nav">
                <form action="/">
                    <button class="custom-btn btn-6"><span>trang chủ</span></button>
                </form>
                <form action="/courses/create">
                    <button class="custom-btn btn-8"><span>đăng kí</span></button>
                </form>
                <form action="/me/stored/courses">
                    <button class="custom-btn btn-7"><span>quản lí</span></button>
                </form>
            </ul>
                <div class="search-bar">
                    <input type="text" placeholder="Search Book" />
                </div>
            </div>
          
            <li class="nav-item dropdown" style="margin-right: 23px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="https://avatar-redirect.appspot.com/google/109023826614717592641?size=30" alt="" class="user-avatar">
                  Huy Hùng
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/courses/create">Đăng video sách nói</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/me/stored/courses">Danh sách </a>
                 
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Đăng xuất</a>
                </div>
              </li>
        </div>
{{!-- cai cu --}}
{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 education</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://avatar-redirect.appspot.com/google/109023826614717592641?size=30" alt="" class="user-avatar">
            Huy Hùng
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Đăng video sách nói</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">video sách nói của tôi</a>
            <a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Đăng xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav> --}}